POSTGRES_USER=testuser
POSTGRES_PASSWORD=testpass
POSTGRES_DB=testdb

BACKUP_VERBOSE=1
BACKUP_LOG_DIR=/var/log/backups/
BACKUP_B2_APP_KEY=
BACKUP_B2_ID=
BACKUP_B2_BUCKET=mybucket
BACKUP_B2_DIR=testdb
BACKUP_DUP_FORCE_INC=0
BACKUP_DUP_FORCE_FULL=0
BACKUP_DUP_PASS=12345
BACKUP_DUP_RETENTION_DAYS=30
BACKUP_DUP_KEEP_FULL_CHAINS=0